<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.shopkeeper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.UserActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.AddNewMember"
            android:label="@string/add_user"
            android:parentActivityName=".activities.UserActivity"
            android:theme="@style/EditorTheme" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activities.UserActivity" />

        <activity android:name=".activities.CustomerDetails" />
        <activity android:name=".activities.AddAmount"></activity>
    </application>

</manifest>